<!DOCTYPE html>
<html lang="en">
<head>
    <title>I-LIGHTS - Эффективные решения</title>
    <%- include('../blocks/head') %>
</head>
<body>
    <%- include('../blocks/header') %>

    <main class="main">
        <div class="main__section__info">
            <div class="container">
                <div class="main__section__text">
                    <h1 class="main__section__text__title"><span>I-LIGHTS</span> - Эффективные <br> решения</h1>
                    <p class="main__section__text__desc">Компания I-lights это современная производственно-проектная организация с многолентим опытом работы в сфере разработки </p>
                </div>
            </div>
    
            <div class="main__section__img">
                <img src="/img/art-design1.svg" alt="design-content">
            </div>
        </div>
    
        <div class="container">
            <div class="main__section__catalog">
                <h1 class="main__section__title"><img src="/img/Rectangle 32.svg" alt="rectangle">Каталог</h1>
    
                <div class="main__section__catalog__wrapper">
                    <div class="main__section__catalog__wrapper__links">
                        <ul class="main__section__catalog__wrapper__list">
                            <li class="main__section__catalog__wrapper__list__link">
                                <button data-catalog>
                                    <h1 class="main__section__catalog__wrapper__list__link__title">Трековые светильники</h1>
                                </button>
                                <div class="main__section__catalog__wrapper__list__link__content">
                                    <p class="main__section__catalog__wrapper__list__link__content__desc">Органично вписываются в интерьеры в стиле хай-тек, лофт</p>
                                    <a href="/catalog?filter=Трековые светильники"><button class="main__section__catalog__wrapper__list__link__content__button">Перейти в каталог</button></a>
                                </div>
                            </li>
                            <li class="main__section__catalog__wrapper__list__link">
                                <button data-catalog>
                                    <h1 class="main__section__catalog__wrapper__list__link__title">Встраиваемые светильники</h1>
                                </button>
                                <div class="main__section__catalog__wrapper__list__link__content">
                                    <p class="main__section__catalog__wrapper__list__link__content__desc">Отличный выбор для тех, кто ценит функциональность и стиль</p>
                                    <a href="/catalog?filter=Встраиваемые светильники"><button class="main__section__catalog__wrapper__list__link__content__button">Перейти в каталог</button></a>
                                </div>
                            </li>
                            <li class="main__section__catalog__wrapper__list__link">
                                <button data-catalog>
                                    <h1 class="main__section__catalog__wrapper__list__link__title">Фигурные светильники</h1>
                                </button>
                                <div class="main__section__catalog__wrapper__list__link__content">
                                    <p class="main__section__catalog__wrapper__list__link__content__desc">Добавляют уют и индивидуальность в любое помещение</p>
                                    <a href="/catalog?filter=Фигурные светильники"><button class="main__section__catalog__wrapper__list__link__content__button">Перейти в каталог</button></a>
                                </div>
                            </li>
                            <li class="main__section__catalog__wrapper__list__link">
                                <button data-catalog>
                                    <h1 class="main__section__catalog__wrapper__list__link__title">Светильники Армстронг</h1>
                                </button>
                                <div class="main__section__catalog__wrapper__list__link__content">
                                    <p class="main__section__catalog__wrapper__list__link__content__desc">Светильники Armstrong созданы для тех, кто ценит качество и эстетику</p>
                                    <a href="/catalog?filter=Светильники Армстронг"><button class="main__section__catalog__wrapper__list__link__content__button">Перейти в каталог</button></a>
                                </div>
                            </li>
                            <li class="main__section__catalog__wrapper__list__link main__section__catalog__wrapper__list__link__last">
                                <button data-catalog>
                                    <h1 class="main__section__catalog__wrapper__list__link__title main__section__catalog__wrapper__list__link__title__last">Светильники Армстронг <br> с равномерной засветкой</h1>
                                </button>
                                <div class="main__section__catalog__wrapper__list__link__content">
                                    <p class="main__section__catalog__wrapper__list__link__content__desc">Идеальное решение для тех, кто ценит комфорт и функциональность</p>
                                    <a href="/catalog?filter=Светильники Армстронг с равномерной засветкой"><button class="main__section__catalog__wrapper__list__link__content__button">Перейти в каталог</button></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="main__section__catalog__wrapper__img">
                        <img src="/img/art-design3.svg" alt="design-content">
                    </div>
                </div>
            </div>
    
            <div class="main__section__services">
                <h1 class="main__section__title"><img src="/img/Rectangle 32.svg" alt="rectangle">Услуги</h1>
    
                <div class="main__section__services__content">
                    <div class="main__section__services__content__card">
                        <img src="/img/ико.svg" alt="" style="width: 40px; height: 40px; align-self: flex-start; z-index: -1">
    
                        <div class="main__section__services__content__card__info">
                            <h1 class="main__section__services__content__card__info__title">Изготовление светильников для торгового и общественного освещения</h1>
                            <p class="main__section__services__content__card__info__desc main__section__services__content__card__info__desc__hidden">Мы ценим Ваше время, поэтому, коротко о главном. Наша компания была образована с целью предложить Российскому рынку профессиональные светотехнические решения для освещения магазинов, офисов и объектов общественно-развлекательного назначения. Сегодня мы поставляем осветительное оборудование различных ценовых категорий из стран Юго-Восточной Азии и Европы, а так же являемся дистрибьюторами лучших Российских производителей. А среди наших клиентов, сетевые и частные магазины одежды и обуви, продуктовые магазины, торговые и офисные центры, представители индустрии красоты и здоровья, кафе, рестораны, отели, коттеджные поселки и частные заказчики.</p>
                            <button type="button" data-services><img class="main__section__services__content__card__info__element" src="/img/+.svg" alt=""></button>
                        </div>
                    </div>
                    <div class="main__section__services__content__card">
                        <img src="/img/shipment 1.svg" alt="" style="width: 40px; height: 40px; align-self: flex-start; z-index: -1">
    
                        <div class="main__section__services__content__card__info">
                            <h1 class="main__section__services__content__card__info__title">Поставки дизайнерского света от ведущих европейских производителей</h1>
                            <p class="main__section__services__content__card__info__desc main__section__services__content__card__info__desc__hidden">Наша компания специализируется на поставках дизайнерского света от ведущих европейских производителей. Мы предлагаем широкий ассортимент стильных и инновационных светильников, которые помогут создать уютную и эстетичную атмосферу в любом интерьере. Надежное качество и современный дизайн делают нашу продукцию идеальным выбором для тех, кто ценит комфорт и элегантность в своем пространстве.</p>
                            <button type="button" data-services><img class="main__section__services__content__card__info__element" src="/img/+.svg" alt=""></button>
                        </div>
                    </div>
                    <div class="main__section__services__content__card">
                        <img src="/img/ико (5).svg" alt="" style="width: 40px; height: 40px; align-self: flex-start; z-index: -1">
    
                        <div class="main__section__services__content__card__info">
                            <h1 class="main__section__services__content__card__info__title">Проектирование, светотехнические расчеты и разработка концепции освещения</h1>
                            <p class="main__section__services__content__card__info__desc main__section__services__content__card__info__desc__hidden">Мы создаем инновационные и функциональные решения освещения, учитывая индивидуальные потребности и вкусы клиентов. Наш опытный и квалифицированный персонал обеспечивает высокий уровень профессионализма и качества в каждом проекте. Доверьтесь нам для того, чтобы преобразить ваше пространство с помощью эффективного и стильного освещения.</p>
                            <button type="button" data-services><img class="main__section__services__content__card__info__element" src="/img/+.svg" alt=""></button>
                        </div>
                    </div>
                    <div class="main__section__services__content__card">
                        <img src="/img/Ико (1).svg" alt="" style="width: 40px; height: 40px; align-self: flex-start; z-index: -1">
    
                        <div class="main__section__services__content__card__info">
                            <h1 class="main__section__services__content__card__info__title">Модернизация светильников</h1>
                            <p class="main__section__services__content__card__info__desc main__section__services__content__card__info__desc__hidden">Мы специализируемся на полной модернизации светильников, предлагая инновационные и эстетически привлекательные решения для вашего освещения. Мы обеспечиваем профессиональное обновление и улучшение светильников любого типа, чтобы сделать их более эффективными, стильными и функциональными. Наш опытный и квалифицированный персонал гарантирует высокое качество услуг и удовлетворение потребностей наших клиентов</p>
                            <button type="button" data-services><img class="main__section__services__content__card__info__element" src="/img/+.svg" alt=""></button>
                        </div>
                    </div>
                    <div class="main__section__services__content__card">
                        <img src="/img/ико (2).svg" alt="" style="width: 40px; height: 40px; align-self: flex-start; z-index: -1">
    
                        <div class="main__section__services__content__card__info">
                            <h1 class="main__section__services__content__card__info__title">Ремонт светодиодных светильников</h1>
                            <p class="main__section__services__content__card__info__desc main__section__services__content__card__info__desc__hidden">Независимо от сложности поломки или неисправности, наши опытные специалисты обеспечат быструю и надежную работу по восстановлению функциональности ваших светодиодных светильников. Мы используем только высококачественные запчасти и современное оборудование, чтобы гарантировать долгосрочную работоспособность ваших осветительных устройств. Доверьтесь нам для профессионального обслуживания и ремонта светодиодных светильников, чтобы ваше освещение всегда было на высшем уровне.</p>
                            <button type="button" data-services><img class="main__section__services__content__card__info__element" src="/img/+.svg" alt=""></button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="main__section__products">
                <h1 class="main__section__title"><img src="/img/Rectangle 32.svg" alt="rectangle">Новинки</h1>
    
                <div class="main__section__products__content" data-product>
                    <% data.forEach(product => {  %>
                    <div class="main__section__products__content__card">
                        <div class="main__section__products__content__card__wrapper">
                            <img class="main__section__products__content__card__img" src="/img/<%= product.img %>" alt="product">
                            <h1 class="main__section__products__content__card__title"><%= product.title %></h1>
                            <ul class="main__section__products__content__card__list">
                                <% product.description.forEach(desc => { %>
                                <li class="main__section__products__content__card__list__item"><img src="/img/rectangle 56.svg" alt="point"><%= desc.item %></li>
                                <% }); %>
                            </ul>
                            <p class="main__section__products__content__card__price"><%= product.price %></p>
                        </div>
                        <div class="main__section__products__content__card__links">
                            <a href="/" class="main__section__products__content__card__links__more">Подробнее</a>
                            <button type="button" class="main__section__products__content__card__links__add" data-productsave>+</button>
                        </div>
                    </div>
                    <% }); %>
                </div>
                
                <a href="/catalog" class="main__section__products__link">Перейти в каталог</a>
            </div>
        </div>
    </main>

    <%- include('../blocks/footer') %>
</body>
</html>